/**
 * Basic layout, for animation examples, check demo.css
 */

html,
body {
    margin: 0;
    padding: 0;
    font-size: 3vh;
}

* {
    box-sizing: border-box;
}

/* globe */

#globeCanvas {
    width: 100%;
    height: 100%;
}

#globeContainer {
    position: fixed;
    top: 50%;
    right: 0px;
    z-index: 10;
    width: 100%;
    height: 50%;
}

#globeContainer.big {
    top: 53vh;
    right: 2vh;
    width: 45vh;
    height: 45vh;
    z-index: 99;
}

div#globeContainer.hidden {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: scale(0.7, 0.7);
    opacity: 0.0;
}
/* all sections */

div.section {
    height: 100vh;
    text-align: center;
    background: url(../bg_left.png) top left repeat-y, url(../bg_right.png) top right repeat-y, #FFF;
    background-size: 10vh;
}

div.section.white {
    background-color: rgb(255, 255, 255);
}

div.section.grey {
    background-color: rgb(245, 245, 245);
}

/* first section */

#sectionTitle {
    position: relative;
    height: 101vh;
    width: 100%;
    padding: 10vh 15vw;
}

 h2,
 h1 {
    font-weight: normal;
    font-family: 'Didot-Bold', serif;
    color: #3A407E;
    margin: 0;
    padding: 0;
    z-index: 99;
    letter-spacing: 0 default;
    text-align: center;
}

#sectionTitle h1 {
    font-size: 7vh;
    width: 100%;
    padding: 5vw;
}

#sectionTitle h2 {
    font-size: 3vh;
    letter-spacing: 0 default;
    margin: 0;
    margin-top: 2vh;
    text-transform: uppercase;
    margin-bottom: 2vh;
    width: 100%;
}

#sectionTitle svg {
    position: absolute;
    top: 90vh;
    width: 30px;
    animation: chevronAnimation 4s ease-in-out 0s infinite;
}

/* in-section positioning */

div.section>div.igContainer {
    width: 76vh;
    height: 96vh;
    position: absolute;
    left: calc(31% - 38vh);
    top: 2vh;
}

div.sectionCard {
    width: 47vh;
    height: 47vh;
    position: absolute;
    right: calc(25% - 30.75vh);
    /* right: calc(19% - 23.5vh);*/
    top: 2vh;
}

div#globeContainer.small {
    width: 47vh;
    height: 47vh;
    right: calc(25% - 30.75vh);
    top: auto;
    bottom: 2vh;
    z-index: 99;
}

/* section cards */

div.sectionCard {
    padding: 0px;
    background: #2e344a url("../img/globelogo.png") no-repeat center;
    background-size: 50%;
}

div.sectionCard>h1 {
    font-family: 'Lato', sans-serif;
    box-align: center;
    position: absolute;
    color: #eac782;
    left: 0px;
    margin: 0px;
    padding: 0px;
    top: 5%;
    width: 100%;
    font-size: 7vh
}

div.sectionCard>h2 {
    font-family: 'Lato', sans-serif;
    box-align: center;
    bottom: 0px;
    font-weight: 300;
    color: #fff;
    font-size: 2vh;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 80%;
    width: 100%;
    text-transform: uppercase;
}

div.sectionCard:not(.scaleDownIn) {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: scale(0.7, 0.7);
    opacity: 0.0;
}

/* fake instagram posts */

.section>div.igContainer {
    border-radius: 0.5%;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    background: white;
    overflow: hidden;
    text-align: left;
}

.igHeader,
.igFooter {
    padding: 2%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: black;
    font-size: 0.7em;
    text-transform: none;
    overflow: hidden;
}

.igHeader {
    height: 8%;
}

.igFooter {
    height: 12%;
    padding: 0%;
    padding-left: 2%;
}

.igHeader p {
    margin: 0px;
}

.igFrame {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

img.igAvatar {
    float: left;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 0 0 1.5em #ffffff;
    margin-right: 2%;
}

.igPicture {
    position: absolute;
}

.igFooter>p {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.igFooter>p.date {
    color: #999;
    margin: 0px;
    text-transform: uppercase;
    font-size: 0.7em;
}

/* last section */

div#sectionGoa {
    background: url("/bg_home.jpg") repeat;
}


 #sectionGoa h1{

    text-transform: uppercase;
 }
/*
div.section.goa h1::before {
    background-position: center right;
    left: -45px;
    background-image: url(../star.jpg);
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    background-repeat: no-repeat;
}

div.section.goa h1::after {
    background-position: center left;
    right: -45px;
    background-image: url(../star.jpg);
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    background-repeat: no-repeat;
}*/

/* fonts */

@font-face {
    font-family: 'Didot';
    src: url(theanodidot-regular-webfont.eot);
    src: url(theanodidot-regular-webfont.eot?#iefix) format("embedded-opentype"), url(theanodidot-regular-webfont.woff) format("woff"), url(theanodidot-regular-webfont.ttf) format("truetype"), url(theanodidot-regular-webfont.svg#theano_didotregular) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Didot-Bold';
    src: url(/Didot-Bold.eot);
    src: url(/Didot-Bold.eot?#iefix) format("embedded-opentype"), url(/Didot-Bold.woff) format("woff"), url(/Didot-Bold.ttf) format("truetype"), url(/Didot-Bold.svg#theano_didotregular) format("svg");
    font-weight: normal;
    font-style: normal
}

/* responsiveness */

@media only screen and (max-aspect-ratio: 4/3) {
    body {
        font-size: 3vh;
    }
    div.section {
        background-size: 10vw;
    }
    #sectionTitle h2 {
        font-size: 3vw;
    }
    #sectionTitle h1 {
        font-size: 5vw;
    }
    div#globeContainer.big,
    div#globeContainer.small {
        width: 28vh;
        height: 28vh;
        position: fixed;
        left: calc(50% - 28.125vh);
    }
    div#globeContainer.big {
        position: fixed;
        top: 53vh;
        z-index: 99;
    }
    div#globeContainer.small {
        position: fixed;
        top: 0.666vh;
        z-index: 99;
    }
    div.sectionCard {
        width: 28vh;
        height: 28vh;
        position: absolute;
        top: 0.666vh;
        left: calc(50% + 0.125vh);
    }
    div.section>div.igContainer {
        width: 56.25vh;
        height: 70vh;
        position: absolute;
        right: auto;
        left: calc(50% - 28.125vh);
        top: auto;
        bottom: 0.666vh;
    }
    div.sectionCard>h1 {
        font-size: 2em;
    }
    div.sectionCard>h2 {
        font-size: 0.6em;
    }
    .igHeader,
    .igFooter {
        font-size: 0.5em;
    }
}

@media only screen and (max-aspect-ratio: 9/16) {
    div#globeContainer.big,
    div#globeContainer.small {
        width: 48vw;
        height: 48vw;
        position: fixed;
        top: calc(14.14% - 24vw);
        left: 1.33vw;
    }
    div.sectionCard {
        width: 48vw;
        height: 48vw;
        position: absolute;
        top: 1vh;
        right: 1.33vw;
    }
    div.section>div.igContainer {
        width: 97.333vw;
        height: 121.666vw;
        position: absolute;
        left: 1.333vw;
        top: auto;
        bottom: calc(35.78% - 60.8333vw)
    }
}

/**
 * Simple keyframes animation for the chevron on the first slide
 */

@keyframes chevronAnimation {
    0% {
        transform: translate(0, 0) scale(1.0, 1.0);
    }
    50% {
        transform: translate(0, 5px) scale(0.8, 0.8);
    }
    100% {
        transform: translate(0, 0) scale(1.0, 1.0);
    }
}

/**
 * Animations
 */

.fromTopIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, 0);
    opacity: 1.0;
}

.fromTopOut {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, -10px);
    opacity: 0.0;
}

.fromBottomIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, 0);
    opacity: 1.0;
}

.fromBottomOut {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, 10px);
    opacity: 0.0;
}

.fromLeftIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, 0);
    opacity: 1.0;
}

.fromLeftOut {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(-10px, 0);
    opacity: 0.0;
}

.fromRightIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, 0);
    opacity: 1.0;
}

.fromRightOut {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(10px, 0);
    opacity: 0.0;
}

.scaleUpIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: scale(1.0, 1.0);
    opacity: 1.0;
}

.scaleUpOut {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: scale(1.3, 1.3);
    opacity: 0.0;
}

.scaleDownIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: scale(1.0, 1.0);
    opacity: 1.0;
}

.scaleDownOut {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: scale(0.7, 0.7);
    opacity: 0.0;
}